{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RapidNote</title>

  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> 
  <!-- icon 링크 -->
  <script src="https://kit.fontawesome.com/04a6f97450.js" crossorigin="anonymous"></script>
  <!-- 템플릿 -->
  <link rel="stylesheet" type="text/css" href='{% static "note/css/normalize.css"%}' />
  <link rel="stylesheet" type="text/css" href='{% static "note/css/demo.css"%}' />
  <link rel="stylesheet" type="text/css" href='{% static "note/css/bottom-area.css"%}' />
  <!-- pdf 변환을 위한 스크립트 -->
  <script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script type = "text/javascript" src = "https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  <script type = "text/javascript" src = "http://code.jquery.com/jquery-latest.min.js"></script>
  <style type="text/css">


  </style>

   {% if messages %}
      <script>
       {% for message in messages %}
           alert("{{ message }}");
       {% endfor %}
      </script>
{% endif %}
</head>
<body>
  <header>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- 브랜드 마크를 눌러서 로그인 화면으로 넘어오게 href 속성을 조정하면 됨 -->
          <a class="navbar-brand" href="{%url 'note:main'%}">
            RapidNote
          </a>
          <p class="navbar-text">빠르고 편리한 필기</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li id="note"><a href="{%url 'note:index'%}">Note</a></li>
            <li><a href="{%url 'note:download'%}">Download</a></li>
          </ul>
          
          
        </div><!-- navbar-collapse end -->
      </div><!-- container end -->
    </nav>  <!-- navbar end -->
  </header>

  <div class="download-image">
  </div>

  <div class="container">
    <div class="row" id="rn-title">
      <div class="col-xs-12">
        <div class="text-center">
          <h1>Download</h1>
          <p>스마트폰에서 앱을 다운받아보세요</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="rn-download">
      <a href="#"><img class="img-responsive center-block" src="{% static 'note/css/pic/playstore.jpg'%}" alt="google play"></a>
    </div>
  </div>


  <footer>
    <div class="container">
      <div class="row" id="rn-footer">
        <div class="col-sm-4 text-center">
          <h4>About us</h4>
          <p>2020-1 Kyonggi Univ. Capstone F Group<br>
          Hyunbin Kim, Kiho Ryu, Jongho Jeong, Joonyeong Jeong, Seonghyun Hwang</p>
        </div>

        <div class="col-sm-4 text-center">
          <h4>Do you like ? Share this !</h4>
          <p>
            <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/" class="social-round-icon white-round-icon fa-icon" title="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </p>   
        </div>

        <div class="col-sm-4 text-center">      
          <div class="form-group">
              <img src='{% static "note/css/pic/logo2.png"%}' alt="logo">
          </div>
          <br>
          <p><small>© RapidNote | 2020-1 Kyonggi Univ. Capstone F Group</small></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script>
    //세션 값이 없을 때 로그인 창 숨키기
      var session = "{{request.session.user_id}}";

      var note = document.getElementById('note');

      $(document).ready(function(){
        if(session == '') {
          note.classList.add('hide');
        } else {
          note.classList.remove('hide');
        }
      });
  </script>
  


</body>
</html>